base {{ ldap.dn }}
uri {{ ldap_auth.ldap_server }}
ldap_version {{ ldap_auth.ldap_version }}
binddn cn={{ ldap.adbook.cn }},{{ ldap.dn }}
bindpw {{ ldap.adbook.cn }}
rootbinddn cn=admin,{{ ldap.dn }}
pam_password md5